.navbar {
  background-color: #ffffff;
  color: #1F2937; /* Change text color */
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 30px; /* Adjust logo size */
  height: 30px;
  margin-right: 10px; /* Space between the logo and the text */
}

.navbar-logo span {
  color: #1F2937; /* Change text color */
  margin-right: 0.5rem;
}
